@import "/styles/root.css";



/* Body */
body {
  background-color: var(--background);
  color: var(--onBackground);
  padding: 0;
  margin: 0;
  transition: var(--transitionSpeed);
}

/* scrollbar styling */
body::-webkit-scrollbar {
  width: 0.40rem;
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBackground);
}
body::-webkit-scrollbar-thumb {
  background: var(--primary);
}



/* Header */
header {
  background-color: var(--surface01dp);
  box-shadow: var(--surfaceShadow01dp);
  color: var(--onSurface);

  padding: 1rem;
  margin: 1rem;
  margin-top: 1rem;
  margin-left: 6rem;

  text-align: center;

  border-radius: 0.5rem;
  transition: var(--transitionSpeed);
}
header:hover {
  background-color: var(--surface04dp);
  box-shadow: var(--surfaceShadow04dp);
}



/* Main */
main {
  font-size: 1.3rem;
  margin-left: 5rem;
  padding: 1rem;
}
.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.tiny-text {
  font-size: 0.8rem;
}
.medium-text {
  font-size: 1.2rem;
}
.big-text {
  font-size: 1.5rem;
}
.strike-through {
  text-decoration: line-through;
}
main a {
  color: currentColor;
  text-decoration: none;
  text-decoration: underline;
  transition: var(--transitionSpeed2);
}
main a:hover {
  background-color: var(--secondaryVariant);
}



/* NAVBAR */

/* the bar */
.navbar {
  /* nav */
  position: fixed;
  background-color: var(--surface02dp);
  box-shadow: var(--surfaceShadow02dp);
  transition: width 200ms ease;
  overflow: hidden;
  scrollbar-width: none;
  transition: var(--transitionSpeed2);
}
.navbar::-webkit-scrollbar {
  background: transparent;
  scrollbar-width: 0;
  display: none;
  width: 0;
}
.navbar-nav {
  /* nav  ul */
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* items and icons */
.nav-item {
  /* nav ul  li */
  width: 100%;
}
.nav-item:last-child {
  /* nav ul  li
  move last icon to bottom of screen */
  margin-top: auto;
  margin-bottom: 0;
}
.nav-link {
  /* nav ul li  a */
  /* background: var(--surface02dp);
  box-shadow: var(--surfaceShadow02dp); */
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--onSurface);
  transition: var(--transitionSpeed);
  /* make icons grayscale */
  filter: grayscale(100%) opacity(60%);
}
.nav-link:hover {
  /* nav ul li  a */
  /* remove grayscale when hovered over */
  filter: grayscale(0%) opacity(1);
  background: var(--surface03dp);
  box-shadow: var(--surfaceShadow03dp);
  /* color: var(--text-secondary); */
}
.link-text {
  /* nav ul li  span */
  display: none;
  margin-left: 1rem;
}
.nav-link svg {
  /* nav ul li a  svg */
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: var(--primary);
  /* transition: var(--transitionSpeed); */
}
.theme-button {
  background: var(--surface02dp);
  box-shadow: var(--surfaceShadow02dp);
  margin: 0px;
  margin-bottom: 0px;
  /* transition: var(--transitionSpeed2); */
}

/*  logo */
.logo {
  /* nav ul li  a */
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  /* color: var(--text-secondary); */
  background: var(--surface03dp);
  box-shadow: var(--surfaceShadow03dp);
  font-size: 1.4rem;
  letter-spacing: 0.3ch;
  width: 100%;
  transition: var(--transitionSpeed2);
}
.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transitionSpeed);
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);

}

/* external-links */
.ext {
  display: none;
  justify-content: center;
  padding: 0.2rem;
  margin: 0px;
  margin-bottom: 0px;
  margin-top: auto;
}
.preview {
  display: flex;
  position: fixed;
  bottom: 0;
  margin-bottom: 5rem;
}
/* .nav-item-preview:last-child {
  margin-top: auto;
} */
/* #endregion */ /* external-links */



/* fade-animation */
.ext {
  -webkit-animation: fadein var(--fadeTransitionSpeed);
     -moz-animation: fadein var(--fadeTransitionSpeed);
      -ms-animation: fadein var(--fadeTransitionSpeed);
       -o-animation: fadein var(--fadeTransitionSpeed);
          animation: fadein var(--fadeTransitionSpeed);
}
.link-text {
  -webkit-animation: fadein var(--fadeTransitionSpeed);
     -moz-animation: fadein var(--fadeTransitionSpeed);
      -ms-animation: fadein var(--fadeTransitionSpeed);
       -o-animation: fadein var(--fadeTransitionSpeed);
          animation: fadein var(--fadeTransitionSpeed);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



/* responsive-design */

/* small-screens */
/* wide-ways */
@media only screen and (max-width: 599px) {
  /* navbar */
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .home-icon {
    display: inline;
  }
  .ext {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }

  header {
    margin: 1rem;
  }
  main {
    margin: 0;
    margin-bottom: 3rem;
  }

  :root {
    font-size: 0.8rem;
  }
}


/* large-screens */
@media only screen and (min-width: 600px) {
  /* navbar */
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar .home-icon {
    display: none;
  }
  .navbar:hover {
    width: 16rem;
    background-color: var(--surface03dp);
    box-shadow: var(--surfaceShadow03dp);
  }
  .navbar:hover .link-text {
    display: block;
  }
  .navbar:hover .nav-item:last-child {
    margin: 0;
  }

  .navbar:hover .ext {
    display: flex;
  }
  .navbar:hover .ext .preview {
    display: none;
  }
}


/* small screens  -  loaded last for reasons */
/* long-ways */
@media only screen and (max-height: 520px) {
  /* navbar */
  .logo {
    display: none;
  }
  .ext {
    display: none;
  }
}
